<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>To Edit</h1>
    <form action="/mongooses/edit/<%= data._id%>" method="POST"> 
        
    <input type="hidden" name="hiddenid" value="<%= data._id%>">
        Animal: <input type="text" name="name" value="<%= data.name%>">
    <input type="submit" value="Submit me!">
    </form>
</body>
</html>