<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>show</h1>
    <% for(animal of data){ %> 
        <hr>
        <h3>Animal: <%= animal.name %></h3>
        <h4>ID: <%= animal.id %></h4> 
    <% } %>
    <a href="/mongooses/edit/<%= animal.id %>">edit</a>
</body>
</html>